SECRET='TwinklingStar' # Secret key, **PLEASE** change it.

# Discord configuration
TOKEN="" # Discord bot token
OWNERID=0 # Discord owner user ID
LOGCHANNEL=0 # Discord channel ID, where log information will be sent

# ZMQ configuration
INPORT=4446 # Port for accepting data

# Permission configuration
OWNERLEVEL=3 # Level for the user with the OWNERID as their discord userid

# File configuration
FILENAME="data.sadogire"
